streamlit==1.47.1
transformers==4.53.2
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
torchvision==0.22.1+cu126
tokenizers==0.21.2
huggingface-hub==0.33.4
bitsandbytes==0.46.1
peft==0.16.0
trl==0.19.1
pydantic==2.11.7
python-dotenv==1.1.1
PyMuPDF==1.26.3
fastapi==0.116.1
uvicorn==0.35.0
